@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/appjs/controllermap/controllermapview.js"></script>

<script type="text/javascript">

    function AddControllerMap() {
        window.location.href = '@Url.Action("New","ControllerMap")';
        return false;
    }

</script>

<div ng-controller="ControllerMapViewCtrl">
    <div class="col-xl-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title float-left" style="width:100% !important">
                    <span>Manage Department</span>
                    <button type="button" class="btn btn-xs btn-primary float-right" onclick="AddControllerMap();" style="margin-right:2%">
                        <span class="fa fa-plus">
                            Add
                        </span>
                    </button>
                </h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                    </div>
                    <div class="col-12">
                        <table id="example-11" class="display table table-hover table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Sr No</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>CreatedOn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ControllerMapList">
                                    <td>
                                        <span style="cursor:pointer" ng-click="RedirectUserToControllerMap(item.ControllerId);">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                    </td>
                                    <td ng-bind="item.RowId"></td>
                                    <td ng-bind="item.ControllerName"></td>
                                    <td ng-bind="item.ControllerDesc"></td>
                                    <td ng-bind="item.Status"></td>
                                    <td ng-bind="item.CreatedOn"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
