@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-5">Welcome to Seating Management System</h3>
    <br />
</div>

<div class="controls text-center" id="dvControls" style="margin-top:-15px">
    <img id="myImgId" src="@Url.Content("~/Resx/Images/Seating.png")" width="600px" />
</div>
